.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    color: #161823;
    margin-top: 12px;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.4rem;
}

.analystic {
    margin-top: 10px;
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 8px;
}

.label {
    color: rgba(22, 24, 35, 0.75);
}

.follow-btn {
    padding: 6px 16px;
}
